name: Build and Push Docker Images

on:
  push:
    branches:
      - master
    paths:
      - 'api/**'
      - 'front-end-nextjs/**'

jobs:
  # This job detects what changed
  changes:
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.filter.outputs.api }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            api:
              - 'api/**'
            frontend:
              - 'front-end-nextjs/**'

  build-backend:
    needs: changes
    if: ${{ needs.changes.outputs.api == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: camilo192
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          platforms: linux/amd64,linux/arm64
          tags: camilo192/devops-project-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-frontend:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: camilo192
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./front-end-nextjs
          push: true
          platforms: linux/amd64,linux/arm64
          tags: camilo192/devops-project-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max